body {
    background: #f1faee;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-decoration: none;
  }
  
  .sign-up {
    background: white;
    margin: 20px;
    border-radius: 2rem;
    padding: 10px;
  }

  button, select, input {
    border-radius: 2rem;
    background: transparent;
    font-family: "Open Sans", sans-serif;
    border: 2px solid #444;
    cursor: pointer;
    font-size: 15px;
    padding: 6px 24px;
    margin: 5px;
  }
  
  h1, h2 {
    font-weight: 900;
  }

  section {
      text-decoration: none;
  }
  
  /* list styling */
  .nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  padding-top: 20px;
  }
  
  a img {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    float: left;
  }
  
  .extra-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
  }
  
  .extra-nav li {
    padding: 30px;
  }
  
  .nav li a {
    color: #444;
    text-decoration: none;
    margin: 20px;
    font-size: 15px;
  }
  
  ul {
    list-style: none;
  }
  
  footer {
    font-size: 15px;
  }